.footerContainer {
    bottom: 0;
    width: 100%;
    background-color: #DA291C;
    color: #FFC72C;
    text-align: center;
    padding: 20px;
}
 
.footerHeading h1 {
    font-size: 20px;
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    color: #FFC72C; 
    padding-bottom: 10px;
  }
  
  .iconContainer {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
  }
  
  
  .icon {
    font-size: 30px; 
    color: #FFC72C; 
    cursor: pointer; 
    transition: color 0.3s ease; 
  }
  
  .icon:hover {
    color: #FFFFFF; 
  }