.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DA291C; 
    height: 80px;
    z-index: 1000; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    box-sizing: border-box;
}
.navLogo{
    font-size: 22px;
    color:#FFC72C;
    padding-left : 30px;


}
.navContainer{
    list-style: none;
    display: flex;
    gap : 30px;
    padding-right: 50px;
    

}
.navItems a{
    text-decoration: none;
    color: #FFC72C;
    font-size: 23px;

}